.cartLista {
  padding: 0 2rem;
  max-height: 22rem;
  overflow: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 2rem 2rem 0 2rem;
}

.header p {
  font-weight: bold;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem 1.2rem 2rem;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.total span {
  font-weight: bold;
  font-size: 1.3rem;
}

.semItens {
  padding: 2rem 0 3rem 0
}

@media all and (max-width: 470px) {
  .cartLista {
    padding: 0 1.2rem;
  }

  .header {
    padding: 2rem 1.2rem 0 1.2rem;
  }

  .total {
    padding: 1.2rem;
  }
}