.item {
  display: grid;
  grid-template-columns: 7rem 1fr auto;
  grid-template-rows: 7rem;
  grid-gap: 1rem;
  padding: 1.5rem 0;
}

.item + .item {
  border-top: 2px solid var(--cor-bg);
}

.imgDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infos {
  display: flex;
  flex-direction: column;
}

.preco {
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 0.3rem;
}

.btn {
  margin-top: auto;
  align-self: flex-start;
  padding: 0.2rem 0;
}

.item form input {
  max-width: 3rem;
  margin-left: 0.5rem;
}

@media all and (max-width: 470px) {
  .item {
    grid-template-columns: 3rem 1fr;
    grid-template-rows: 7rem;
    padding: 1rem 0;
    grid-gap: 0.8rem;
  }

  form {
    grid-column: 2;
  }

  .imgDiv img {
    width: 3rem;
    height: 3rem;
  }

  .item form input {
    max-width: 2.5rem;
  }

  .preco {
    font-size: 1.1rem;
  }
}
