.produtos {
  grid-row: 1 / 4;
  grid-column: 2;
}

.produtos h1 {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.produtos ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  justify-content: start;
  grid-gap: 2rem;
  list-style: none;
  margin: 2rem 0;
}

.erro {
  margin-top: 4rem;
}

@media all and (max-width: 925px) {
  .produtos {
    padding: 2rem 1rem 5rem 1rem;
  }

  .produtos ul {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
  }
}

@media all and (max-width: 550px) {
  .produtos ul {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
  }
}
