.produtos {
  grid-row: 1 / 4;
  grid-column: 2;
}

.produtos h1 {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.productsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: start;
  grid-gap: 2rem;
  list-style: none;
  margin: 2rem 0;
}

.filterList {
  list-style: none;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1rem;
}

.filterList li {
  border-radius: 30px;
  padding: 0.5rem 1rem;
  background: var(--cor-5);
  color: var(--cor-4);
  width: auto;
  font-weight: 700;
}

.erro {
  margin-top: 4rem;
}

@media all and (max-width: 925px) {
  .produtos {
    grid-column: 1;
    grid-row: 2;
  }

  .productsList {
    grid-gap: 1rem;
  }
}

@media all and (max-width: 600px) {
  .productsList {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
  }
}
