.main {
  display: grid;
  grid-template-columns: auto 1fr;
  align-content: start;
  min-height: calc(100vh - 4rem);
  padding: 8rem 2rem 0 2rem;
  grid-gap: 3rem;
}

.navCatalogo {
  grid-column: 1;
  grid-row: 1;
  height: 2rem;
  line-height: 2rem;
}

@media all and (max-width: 925px) {
  .main {
    grid-template-columns: auto;
  }
}
