.card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: var(--sombra);
  background: var(--cor-1);
  padding: 1.2rem;
}

.imgContainer {
  width: 100%;
  height: 12rem;
}

.card img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.infos {
  margin-top: 1rem;
}

.name {
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.preco {
  font-weight: bold;
  font-size: 20px;
  margin-left: 0.2rem;
}

.quantidadeForm {
  text-align: right;
  display: flex;
  place-items: center;
}

.quantidadeForm input {
  width: 3rem;
  height: 2.5rem;
  margin-left: 0.2rem;
}

.quantidadeForm label > span {
  visibility: hidden;
  position: absolute;
}

.btnAdd {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  background: var(--cor-5);
  margin-left: 0.5rem;
  font-size: 18px;
  font-weight: 700;
  color: var(--cor-4);
  transition: 0.1s;
}

.btnAdd:hover {
  background: var(--cor-2);
}
.btnAdd:active {
  transform: scale(0.9);
}
.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1.5rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes animaAlert {
  from {
    top: -2rem;
    opacity: 1;
  }

  to {
    top: -5rem;
    opacity: 0;
  }
}

@media all and (max-width: 600px) {
  .btnAdd {
    width: 2.2rem;
    height: 2.2rem;
  }
  .quantidadeForm input {
    width: 2.5rem;
    height: 2.2rem;
  }
  .preco {
    font-size: 12px;
  }
  .card {
    padding: 1rem;
  }
}

@media all and (max-width: 480px) {
  .btnAdd {
    width: 2rem;
    height: 2rem;
    margin-left: 0.2rem;
  }
  .quantidadeForm input {
    width: 2rem;
    height: 1.8rem;
  }
  .imgContainer {
    height: auto;
  }
  .card {
    padding: 0.5rem;
  }
}
