.nav {
  display: flex;
  justify-content: flex-end;
}

.nav button {
  height: 2.5rem;
  transition: .05s;
}

.pagNumber {
  width: 2rem;
}

.pagNumber.ativo {
  border: 1px solid red
}

.nav button:hover {
  color: var(--cor-2);
}