.card {
  border: 1px solid rgb(228, 228, 228);
  border-radius: .2rem;
  overflow: hidden;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.07);
}


.card img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .infos {
  padding: 1rem;
}

.nome {
  margin-bottom: 1rem;
}

.reais {
  font-weight: bold;
  font-size: .75rem;
  position: relative;
  top: -.6rem;
}

.preco {
  font-weight: bold;
  font-size: 1.75rem;
  margin-left: .2rem
}

.quantidadeForm {
  margin-top: 1rem;
  text-align: right;
}

.quantidadeForm input {
  width: 3rem;
  padding: .2rem;
  margin-left: .2rem;
  border-radius: .2rem;
  border: 1px solid rgb(228, 228, 228);
}

.btn {
  width: 100%;
  margin-top: .5rem;
}