.card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: var(--sombra);
  background: var(--cor-1);
  padding: 1.2rem;
}

.imgContainer {
  width: 100%;
  height: 12rem;
}

.card img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.infos {
  margin-top: 1rem;
}

.name {
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.preco {
  font-weight: bold;
  font-size: 20px;
  margin-left: 0.2rem;
}

.quantidadeForm {
  text-align: right;
}

.quantidadeForm input {
  width: 3rem;
  height: 2.5rem;
  padding: 0.2rem;
  margin-left: 0.2rem;
  border-radius: 8px;
  border: 2px solid #e4f2ea;
}

.quantidadeForm label > span {
  visibility: hidden;
  position: absolute;
}

.btnAdd {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  background: #e4f2ea;
  margin-left: 0.5rem;
  font-size: 18px;
  font-weight: 700;
  color: #a6b7ad;
  transition: 0.1s;
}

.btnAdd:hover {
  background: #d5e6dc;
}
.btnAdd:active {
  transform: scale(0.9);
}
.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1.5rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes animaAlert {
  from {
    top: -2rem;
    opacity: 1;
  }

  to {
    top: -5rem;
    opacity: 0;
  }
}

@media all and (max-width: 550px) {
  .card .infos {
    padding: 0.5rem;
  }

  .btnAdd {
    padding: 0.5rem;
  }
}
