.card {
  border: 1px solid rgb(228, 228, 228);
  border-radius: .2rem;
  overflow: hidden;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.05);
}

.card img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .infos {
  padding: 1rem;
}

.nome {
  margin-bottom: 1rem;
}

.reais {
  font-weight: bold;
  font-size: .75rem;
  position: relative;
  top: -.6rem;
}

.preco {
  font-weight: bold;
  font-size: 1.75rem;
  margin-left: .2rem
}

.quantidadeForm {
  margin-top: 1rem;
  text-align: right;
}

.quantidadeForm input {
  width: 3rem;
  padding: .2rem;
  margin-left: .2rem;
  border-radius: .2rem;
  border: 1px solid rgb(228, 228, 228);
}

.btn {
  width: 100%;
  margin-top: .5rem;
}

.btnAlert {
  position: relative;
}

.alertAdd {
  position: absolute;
  background: var(--cor-5);
  color: var(--cor-6);
  height: 2rem;
  width: 2rem;
  display: grid;
  place-items: center;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  top: -2rem;
  right: 0;
  animation: animaAlert 1s forwards;
}

@keyframes animaAlert {
  from {
    top: -2rem;
    opacity: 1;
  }

  to {
    top: -5rem;
    opacity: 0;
  }
}

@media all and (max-width: 550px) {
  .preco {
    font-size: 1.4rem;
  }

  .reais {
    top: -.4rem;
  }

  .card .infos {
    padding: .5rem;
  }

  .btn {
    padding: .5rem
  }

}