.nav {
  display: flex;
  justify-content: flex-end;
}

.nav button {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  transition: 0.1s;
}

.nav svg {
  color: inherit;
  width: 0.5rem;
  right: 0.5rem;
}

.pagNumber {
  width: 2rem;
}

.nav button:hover {
  color: var(--cor-2);
}

.pagAtual {
  border-radius: 0.2rem;
  background: #e8efed;
}

@media all and (max-width: 550px) {
  .nav {
    justify-content: center;
  }
}
