.nav {
  display: flex;
  justify-content: flex-end;
}

.nav button {
  height: 2rem;
}

.pagNumber {
  width: 2rem;
}

.nav button:hover {
  text-decoration: underline;
}

.nav button+button {
  margin-left: .5rem;
}

.pagAtual {
  border-radius: .2rem;
  background: radial-gradient(100% 100% at 50.27% 0%, var(--cor-3) 0%, var(--cor-2) 100%);
  color: var(--cor-4);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

@media all and (max-width: 550px) {
  .nav {
    justify-content: center;
  }
}