.footer {
  background: var(--cor-7);
  border-top: 1px solid rgb(228, 228, 228);
  padding: 1.2rem 1rem;
  height: 4rem;
  position: relative;
  z-index: 2;

}

.footer p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: .2rem;
}

.footer a:hover {
  text-decoration: underline;
}

.footer a svg {
  margin-left: .2rem;
}