.header {
  display: flex;
  align-items: center;
  background: var(--cor-1);
  padding: 1.2rem 2rem;
  height: 4.5rem;
  position: fixed;
  left: 2rem;
  top: 1rem;
  z-index: 999;
  width: calc(100% - 4rem);
  border-radius: 10px;
  box-shadow: var(--sombra);
  transition: 0.2s;
}
.header.scroll {
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 0;
}

.logo {
  font-size: 1.6rem;
  margin-right: 2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.logo::before {
  content: "";
  background: url("../../assets/logo.png");
  background-size: 1.3rem;
  height: 1.3rem;
  width: 1.3rem;
  display: inline-block;
  margin-right: 0.5rem;
}

.carrinho {
  margin-right: 1rem;
  text-transform: uppercase;
  font-size: 12px;
}

.carrinho {
  display: flex;
  align-items: center;
  padding: 0.7rem;
  transition: 0.1s;
  text-align: right;
  font-weight: 700;
  margin-left: auto;
}

.carrinho:hover,
.conta:hover {
  color: var(--cor-2);
}

.carrinho svg {
  transform: scale(1.3);
  width: 30px;
  margin-left: 0.5rem;
}

.form {
  display: flex;
  max-width: 22rem;
  width: 100%;
  position: relative;
}

.form input {
  background: var(--cor-bg);
  border-radius: 10px;
  padding: 0.9rem 3rem 0.9rem 0.9rem;
  margin-right: 0.5rem;
  flex: 1;
}

.form input::placeholder {
  color: rgba(89, 89, 95, 0.5);
}

.form label {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}

.iconSearch {
  color: rgba(89, 89, 95, 0.5);
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: 1.5rem;
  top: 1rem;
}

.quantidade {
  position: relative;
  display: grid;
  place-items: center;
}

.valor {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: -1rem;
  top: -1rem;
  background: var(--cor-5);
  color: var(--cor-4);
  font-weight: bold;
  font-size: 0.75rem;
  display: grid;
  place-items: center;
}

.menu {
  margin-left: auto;
}

.btnMenu {
  display: none;
}

.btnColorMode {
  background: var(--cor-7);
  min-width: 2.2rem;
  min-height: 2.2rem;
  border-radius: 50%;
  margin-left: 0.5rem;
  display: grid;
  place-items: center;
  color: var(--cor-6);
}

@media all and (max-width: 925px) {
  .header {
    padding: 0 1rem;
  }
  .cartTxt {
    visibility: hidden;
    position: absolute;
  }

  .btnMenu {
    min-width: 2.5rem;
    height: 2.5rem;
    margin-left: auto;
    display: grid;
    place-items: center;
    border-radius: 0.2rem;
    transition: 0.1s;
  }

  .btnMenu:hover {
    background: var(--cor-7);
  }

  .btnMenu.menuVisible {
    border: 1px solid var(--cor-2);
  }

  .btnMenu svg {
    transform: scale(2);
  }
  .logo {
    font-size: 1.2rem;
    margin-right: 1rem;
    flex-wrap: nowrap;
  }

  .logo::before {
    background-size: 1rem;
    height: 1rem;
    width: 1rem;
  }
}

@media all and (max-width: 600px) {
  .header {
    left: 1rem;
    width: calc(100% - 2rem);
  }
}

@media all and (max-width: 500px) {
  .header {
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 0;
  }
}
