.header {
  display: flex;
  align-items: center;
  background: var(--cor-1);
  padding: 1.2rem 2rem;
  height: 4rem;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgb(228, 228, 228);
  position: fixed;
  z-index: 999;
  width: 100%;
}

.logo {
  font-size: 2rem;
  margin-right: 2rem;
  font-family: 'Ribeye Marrow', cursive;
}

.carrinho {
  margin-right: 1rem;
}

.carrinho,
.conta {
  display: flex;
  align-items: center;
  padding: .7rem;
  transition: .1s;
  text-align: right;
}

.carrinho:hover,
.conta:hover {
  color: var(--cor-2)
}

.carrinho svg,
.conta svg {
  transform: scale(1.3);
  width: 30px;
  margin-left: .5rem;
}

.form {
  display: flex;
  max-width: 22rem;
  width: 100%;
  margin-right: 2rem;
}

.form input {
  background: var(--cor-7);
  border-radius: .2rem;
  padding: .5rem;
  margin-right: .5rem;
  flex: 1;
}

.form label {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}

.quantidade {
  position: relative;
}

.valor {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: -1rem;
  top: -1rem;
  background: var(--cor-5);
  color: var(--cor-6);
  font-weight: bold;
  font-size: .75rem;
  display: grid;
  place-items: center;
}

.menu {
  display: flex;
  margin-left: auto;
}

.btnMenu {
  display: none;
}

@media all and (max-width: 925px) {
  .header {
    padding: 0 1rem
  }

  .menu {
    flex-direction: column;
    position: absolute;
    right: 1rem;
    top: 3.8rem;
    background: var(--cor-1);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: .2rem;
    align-items: flex-end;
    padding: 1rem
  }

  .menu button {
    width: 100%;
  }

  .carrinho {
    margin-right: 0;
  }

  .carrinho,
  .conta {
    justify-content: flex-end;
  }

  .btnMenu {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: auto;
    display: grid;
    place-items: center;
    border-radius: .2rem;
  }

  .btnMenu.menuVisible {
    border: 1px solid var(--cor-2)
  }

  .btnMenu svg {
    transform: scale(2);
  }
}