.header {
  display: flex;
  align-items: center;
  background: var(--cor-1);
  padding: 1.2rem 1rem;
  height: 4rem;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgb(228, 228, 228);
  position: fixed;
  z-index: 999;
  width: 100%;
}

.logo {
  font-size: 2rem;
  margin-right: 2rem;
  font-family: 'Ribeye Marrow', cursive;
}

.carrinho {
  margin-left: auto;
  margin-right: 1rem;
}

.carrinho,
.conta {
  display: flex;
  align-items: center;
  padding: .7rem;
}

.carrinho svg,
.conta svg {
  transform: scale(1.3);
  margin-left: .5rem;
}

.form {
  display: flex;
}

.form input {
  background: var(--cor-7);
  border-radius: .2rem;
  padding: .5rem;
  min-width: 17rem;
  width: 100%;
  margin-right: .5rem;
}

.form label {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}

.quantidade {
  position: relative;
}

.valor {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: -1rem;
  top: -1rem;
  background: var(--cor-5);
  color: var(--cor-6);
  font-weight: bold;
  font-size: .75rem;
  display: grid;
  place-items: center;
}