.form {
  display: flex;
  max-width: 20rem;
  width: 100%;
  position: relative;
}

.form input {
  background: var(--cor-bg);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  flex: 1;
}

.form input:focus {
  box-shadow: 0 0 0 1px var(--cor-5);
}

.form input::placeholder {
  color: var(--cor-3);
}

.form label {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}

.iconSearch {
  color: var(--cor-4);
  width: 1rem;
  height: 1rem;
}
