@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --cor-1: #fff;
  --cor-2: #f4a8c4;
  --cor-4: #a63e64;
  --cor-5: #7fd878;
  --cor-6: #245320;
  --cor-7: #e9f3f0;
  --cor-bg: #eef4f2;
  scrollbar-color: #b4b4b4 var(--cor-1);
  scrollbar-width: thin;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 15px;
  background: var(--cor-bg);
  color: #545463;
}
input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

button,
input,
a {
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f8fbf8;
}

::-webkit-scrollbar-thumb {
  background: #b4b4b4;
}

@media all and (max-width: 550px) {
  body {
    font-size: 12px;
  }
}
