.modal {
  position: fixed;
  z-index: 10000;
  display: grid;
  place-items: center;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  max-width: 650px;
  width: 100%;
  padding: 0 1.5rem
}

.content {
  background: var(--cor-1);
  transform: translateY(-1rem);
  animation: .1s show forwards;
  border-radius: .2rem;
  box-shadow: 2px 2px 30px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
}

@keyframes show {
  to {
    transform: translateY(0);
  }
}

.backdrop {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}