.filtro {
  background: var(--cor-1);
  padding: 2rem;
  min-height: 100%;
  border-right: 1px solid rgb(219, 219, 219);
}

.filtro h2 {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.btn {
  margin-top: 2rem;
  margin-left: auto;
  display: block;
}

.btnAbrirFiltro {
  display: none;
}

.btnFechar {
  display: none;
}

@media all and (max-width: 925px) {
  .filtro {
    border-bottom: 1px solid rgb(228, 228, 228);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 4rem;
    overflow: auto;
    z-index: 99;
    padding: 2rem 3rem;
    min-height: auto;
    max-height: calc(100vh - 4rem);
  }

  .btnAbrirFiltro {
    display: block;
    position: absolute;
    right: 1rem;
    top: 6rem;
    display: grid;
    place-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.2rem;
    transition: 0.1s;
  }

  .btnAbrirFiltro:hover {
    background: var(--cor-7);
  }

  .btnAbrirFiltro.filtroVisible {
    border: 1px solid var(--cor-2);
  }

  .btnAbrirFiltro svg {
    transform: scale(1.3);
  }

  .btn {
    width: 100%;
  }

  .btnFechar {
    display: grid;
    width: 2rem;
    height: 2rem;
    top: 1.5rem;
    right: 1rem;
  }
}

@media all and (max-width: 470px) {
  .filtro {
    width: 100%;
  }
}
